[user]
 name = Jeff Halter
 email = jhalter@groupon.com
[color]
 branch = auto
 diff = auto
 status = auto
[color "branch"]
 current = yellow reverse
 local = yellow
 remote = green
[color "diff"]
 meta = yellow bold
 frag = magenta bold
 old = red
 new = green
[color "status"]
 added = yellow
 changed = green
 untracked = cyan
[push]
 default = simple
[alias]
 workprofile = config user.email \"jhalter@groupon.com\"
 lg = log --oneline --decorate --all --graph
[core]
 warnambiguousrefs = false
 excludesfile = /opt/boxen/config/git/gitignore
 autocrlf = input

[hub]
protocol = https

[credential]
helper = /opt/boxen/bin/boxen-git-credential
[pull]
